<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Книга рецептов</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
    <!-- Шапка сайта -->
    <header>
        <img src="home_icon.png" alt="Главная" width="30" height="30"> <!-- Значок "Домой" -->
        <h1>Кулинарные рецепты</h1> <!-- Название сайта -->
        <img src="profile_icon.png" alt="Профиль" width="30" height="30"> <!-- Значок "Профиль" -->
    </header>

    <div class="content">
        <!-- Боковая навигационная панель -->
        <nav class="sidebar">
            <input type="text" placeholder="Поиск"> <!-- Поле поиска -->
            <h3>Категории</h3> <!-- Заголовок для категорий -->
            <ul>
                <li><a href="breakfast">-Завтрак</a></li>
                <li><a href="lunch">-Обед</a></li>
                <li><a href="dinner">-Ужин</a></li>
            </ul>
        </nav>
    {{{body}}}
</body>
</html>