<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Книга рецептов</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
    <!-- Шапка сайта -->
    <header>
        <img src="home_icon.png" alt="Главная" width="30" height="30"> <!-- Значок "Домой" -->
        <h1>Кулинарные рецепты</h1> <!-- Название сайта -->
        <img src="profile_icon.png" alt="Профиль" width="30" height="30"> <!-- Значок "Профиль" -->
    </header>

    <div class="content">
        <!-- Боковая навигационная панель -->
        <nav class="sidebar">
            <input type="text" placeholder="Поиск"> <!-- Поле поиска -->
            <h3>Категории</h3> <!-- Заголовок для категорий -->
            <ul>
                <li><a href="breakfast">-Завтрак</a></li>
                <li><a href="lunch">-Обед</a></li>
                <li><a href="dinner">-Ужин</a></li>
            </ul>
        </nav>
        <!-- Основное содержание страницы рецепта -->
        <div class="content">
            <div class="recipe">
                <!-- Название блюда -->
                <div class="title">
                    <h1>Название</h1>
                </div>
                
                <!-- Контактная информация автора -->
                <div class="author">
                    <p>Контактная информация автора</p>
                </div>
                
                <!-- Кнопка подписаться -->
                <div class="subscribe">
                    <button>Подписаться</button>
                </div>
                
                <!-- Блок изображения или видео -->
                <div class="image">
                    <p>IMG/MP4</p>
                </div>
                
                <!-- Блок энергетической ценности -->
                <div class="nutrition">
                    <h2>Энергетическая ценность</h2>
                    <ul>
                        <li>- а</li>
                        <li>- б</li>
                        <li>- с</li>
                    </ul>
                </div>
                
                <!-- Блок ингредиентов -->
                <div class="ingredients">
                    <h2>Ингредиенты</h2>
                    <ul>
                        <li>- а</li>
                        <li>- б</li>
                        <li>- с</li>
                    </ul>
                </div>
                
                <!-- Описание рецепта -->
                <div class="description">
                    <h2>Описание</h2>
                </div>
                
                <!-- Последовательность действий -->
                <div class="steps">
                    <h2>Последовательность</h2>
                    <p>Текст</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>