        <!-- Основной контент -->
        <main class="main-content">
            <h2 class="top-5">Топ-5 блюд</h2> <!-- Заголовок "Топ-5 блюд" -->
            
            <!-- Один блок с рецептом -->
            <div class="recipe">
                <img src="image_placeholder.png" alt="IMG"> <!-- Заставка для картинки -->
                <div>
                    <h3>Название</h3> <!-- Название блюда -->
                    <p>Описание</p> <!-- Описание блюда -->
                </div>
            </div>

            <!-- Второй блок с рецептом -->
            <div class="recipe">
                <img src="image_placeholder.png" alt="IMG"> <!-- Заставка для картинки -->
                <div>
                    <h3>Название</h3> <!-- Название блюда -->
                    <p>Описание</p> <!-- Описание блюда -->
                </div>
            </div>
        </main>
    </div>
