<header class="header">
    <div class="container header__container w-50 pt-5">
        <h1>
            <span class="header_title">Книга рецептов</span>
        </h1>
        <p class="header__appeal">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
    </div>
</header>
