
    
    <!-- Нижний колонтитул сайта -->
    <div class="footer">
        <div>
            <a href="print.html">
                <img src="print-icon.png" alt="Печать">
            </a>
        </div>
        <div>
            <a href="share.html">
                <img src="share-icon.png" alt="Поделиться">
            </a>
        </div>
    </div>