@import 'normalize.css';
@import 'fonts.css';

body {
    font-family: Inter, sans-serif;
    display: flex;
    font-weight: 500;
    font-size: large;
    flex-direction: column; 
    align-items: center; /* Центрирование содержимого по горизонтали */
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Фон для наглядности */
}
.container {
    display: flex;
    width: 100%; 
    max-width: 1200px; /* Максимальная ширина контейнера */
    margin: 20px 0; /* Отступы сверху и снизу */
    background-color: #fff; /* Фон для наглядности */
}
.sidebar {
    width: 200px;
    padding: 20px;
    background-color: #e0e0e0; /* Фон для наглядности */
}
.content {
    flex-grow: 1;
    padding: 20px;
}
.header, .footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%; 
    max-width: 1200px; /* Максимальная ширина контейнера */
    background-color: #fff; /* Фон для наглядности */
}
.header {
    border-bottom: 1px solid #000;
}
.footer {
    border-top: 1px solid #000;
}
.search, .categories {
    margin-bottom: 20px;
}

input[type=text]{
    width:200px;
 }


.categories ul {
    list-style: none;
    padding: 0;
}
.categories ul li {
    margin-bottom: 10px;
}
.recipe { /* необходимо для отображения элементов рядом в зависимости от их размера */
    display: flex;
    flex-wrap: wrap;
}

.recipe > div {
    box-sizing: border-box;
    margin: 5px;
    padding: 10px;
    background-color: #f9f9f9; /* Фон для наглядности */
}
/*.title, .author, .subscribe, .description, .steps {
    width: 100%;
}*/
.BaseInfo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5ch;
    grid-auto-rows: minmax(100px auto);
    width: 100%;
    align-items: center;
    text-align: center;
}


.image, .ingredients, .nutrition {
    width: 48%;
}
.steps, .description {
    box-sizing: border-box;
    left: 20%;
    width: 70%;
    border-left: 0ch;
    margin: 5px;
    padding: 0;
    display: flexbox;
    flex-wrap: nowrap;

}

p {
    margin-bottom: 3em;
}

span {
    align-self: center;
    text-align: center;
}